.average-session-graph {
    position: relative;
    background-color: #FF0000;
    border-radius: 5px;
}

.average-session-title {
    color: #FFFFFF;
    margin-left: 30px;
    opacity: 0.5;
}

.custom-tooltip-average {
    background-color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
}