.page_content {
    height: 100%;
    width: calc(100% - 117px);
}

.data-content {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.graph-content {
    margin-left: 100px;
    width: 60%;
    margin-bottom: 20px;
}

.small-graphs-content {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.small {
    width: 31%;
}