.page_content {
    height: 100%;
    width: calc(100% - 117px);
}

.data-content {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.graph-content {
    width: 60%;
}

.small-graphs-content {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.small {
    width: 31%;
}