.sider {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 117px;
    background-color: black;
    height: 100%;
}

.sider-icons {
    display: flex;
    flex-direction: column;
    
}

.sider-icon {
    width: 55px;
    height: 55px;
    margin-bottom: 20px;
}

.sider-copyrights {
    position: absolute;
    bottom: 15%;
    color: white;
    transform: rotate(270deg);
    width: 210px;
    font-size: 12px;
}